################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/File Thực Hiện/Services/Services/.vs/Services/v14
